.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 8vw;
  color: rgb(59, 59, 59);
}

@media (min-width: 600px) {
  .title {
    font-size: 48px;
  }
}
